{% extends "base.html" %} 
{% load static %} 
{% block title %} Bodega Detalle {%endblock %}

{% block content %}
<section class="container px-4 py-12 mx-auto">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <!-- Imagen y datos de contacto -->
    <div class="md:col-span-1">
      {% if bodega.imagen.url %}
      <img
        src="{{ bodega.imagen.url }}"
        alt="{{ bodega.nombre }}"
        class="object-cover w-full rounded-lg shadow h-72"
      />
      {% else %}
      <img
        src="{% static 'img/bodega1.png' %}"
        alt="Bodega El Mirador"
        class="object-cover w-full rounded-lg shadow h-72"
      />
      {% endif %}
      <div class="mt-4 space-y-1 text-sm text-gray-600">
        <p><strong>Dirección:</strong> {{ bodega.direccion }} </p>
        <p><strong>Ubicación:</strong> {{ bodega.ubicacion}} </p>
        <p>
          <strong>Teléfono:</strong>
          <a href="tel:+542612345678" class="text-amber-600 hover:underline"
            >{{ bodega.telefono }}</a
          >
        </p>
        <p>
          <strong>Email:</strong>
          <a
            href="mailto:info@elmirador.com"
            class="text-amber-600 hover:underline"
            >{{ bodega.email }}</a
          >
        </p>
        <p>
          <strong>Sitio web:</strong>
          <a
            href="{{ bodega.sitio }}"
            target="_blank"
            class="text-amber-600 hover:underline"
            >{{ bodega.sitio }}</a
          >
        </p>
      </div>
    </div>

    <!-- Descripción, vinos destacados y acciones -->
    <div class="md:col-span-2">
      <h1 class="mb-4 text-3xl font-bold"> {{bodega.nombre}} </h1>
      <p class="mb-6 text-gray-700">
        {{ bodega.descripcion }}
      </p>

      <h2 class="mb-3 text-2xl font-semibold">Vinos de la Bodega</h2>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        {% for vino in bodega.vinos.all %}
        
        <div class="p-4 bg-white rounded-lg shadow">
          {% if vino.imagen%}
          <img src="{{ vino.imagen.url }}" alt="{{ vino.nombre }}" class="object-contain w-full h-48" />
          {% else %}
          <img src="{% static 'img/botella2.png' %}" alt="Vino Malbec" class="object-cover w-full h-48" />
          {% endif %}
          <h3 class="font-semibold">{{ vino.nombre }}</h3>
          <p class="text-sm text-gray-500">Tipo: {{ vino.get_tipo_display }} · Varietal: {{ vino.varietal }}</p>
          <p class="mt-2 font-semibold text-amber-600">${{ vino.precio }}</p>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>
{% endblock %}
