{% extends "base.html" %}
{% load static %}

{% block title %} Vino Detalle {% endblock %}
{% block content %}
<section class="container px-4 py-12 mx-auto">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <!-- Imagen -->
    <div class="md:col-span-1">
      
      {% if vino.imagen %}
      <img src="{{ vino.imagen.url }}" alt="{{ vino.nombre }}" class="object-contain w-full rounded-lg shadow h-80">
      {% else %}
      <img src="{% static 'img/botella2.png' %}" alt="Vino Malbec" class="object-contain w-full rounded-lg shadow h-80">
      {% endif %}
      
      <div class="mt-4 space-y-1 text-sm text-gray-600">
        <p><strong>Precio:</strong> <span class="font-semibold text-amber-600">${{ vino.precio }}</span></p>
        <p><strong>Tipo:</strong> {{ vino.get_tipo_display}}</p>
        <p><strong>Varietal:</strong> {{ vino.varietal }} </p>
      </div>
    </div>

    <!-- Detalle principal -->
    <div class="md:col-span-2">
      <h1 class="mb-2 text-3xl font-bold">{{ vino.nombre }}</h1>
      <p class="mb-4 text-sm text-gray-500"><strong>Bodega:</strong> {{ vino.bodega.nombre}} · <a href="{% url 'bodega_detalle' vino.bodega.id %}" class="text-amber-600 hover:underline">Ver bodega</a></p>

      <h2 class="mb-3 text-xl font-semibold">Descripción</h2>
      <p class="mb-6 text-gray-700">{{ vino.descripcion }}</p>
    </div>
  </div>
</section>
{% endblock %}